h1 {
  text-align: center;
}

.Header{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:xx-large;
  color: beige;
}
.Status{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:large;
  color: beige;
}
.Entry{
  margin-top: 90px;
  margin-bottom: 90px;
  background:  linear-gradient(to right, #300d07, #614939, #301919);
  
}
.Textinput{
  width: 500px;
  height: 30px;
  background-color: #795a46;
  color: whitesmoke;
}
.Add{
  width: 55px;
  height: 35px;
  background-color: #63381b;
}
.Clear{
  width: 55px;
  height: 35px;
  background-color: #63381b;
}
